@import "function";

@m-color:#E671BB;
@s-color:#1BA1E2;
.g-body(@width:100%){
	.f-pr;
	width: @width;
	margin: auto;
}


.g-main1-r(){
	.f-fr;
	width: 100%;
	height: 100px;
	background-color: #E671BB;
}
.g-side1-l(){
	.f-pr;
	.f-fl;
	width: 100px;
	height: 100px;
	margin-right: -100px;
	background-color: #1BA1E2;
}



.g-main1-l(){
	.f-fl;
	width: 100%;
	height: 100px;
	background-color: #E671BB;
}
.g-side1-r(){
	.f-pr;
	.f-fr;
	width: 100px;
	height: 100px;
	margin-left: -100px;
	background-color: #1BA1E2;
}


.g-side2-r(){
	.f-pr;
	.f-fr;
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #1BA1E2;
}
.g-side2-l(){
	.f-pr;
	.f-fl;
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: #1BA1E2;
}


.g-main3-m(){
	.f-fl;
	width: 100%;
	height: 100px;
	background-color: @m-color;
}
.g-side3-l(){
	.f-pr;
	.f-fl;
	width: 230px;
	height: 100px;
	margin: 0 -230px 0 0;
	background-color: @s-color;
}
.g-side3-r(){
	.f-fr;
	width: 190px;
	height: 100px;
	margin: 0 0 0 -190px;
	background-color: @s-color;	
}
.g-main3-m-c(){
	margin: 0 200px 0 240px;
}


